<!DOCTYPE html>
<html>
<head>
  <title>Rentalrater</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= flash[:notice] %>

<% if current_user %>
  <%= link_to "Sign Out", sign_out_path %>
<% else %>
  <%= link_to "Sign Up", sign_up_path %>
  <%= link_to "Sign In", sign_in_path %>
<% end %>

<%= yield %>
</body>
<footer>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7tC2Bb5DTVAB9Vdg84umemHqDT9FeKuw&sensor=false"></script>
</footer>
</html>
